h1 {
  text-align: center;
  background-color: orange;
  padding: 10px;
  color: white;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.food-img {
  padding-top: 5px;
  width: 250px;
  height: 250px;
}
.food-img img {
  width: 250px;
  border-radius: 10px;
  height: 250px;
  padding-top: 10px;
}
.menu-1 {
  width: 300px;
  border: 0.1px solid rgb(226, 225, 225);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu-1 h3 {
  font-size: 20px;
}
.menu-1 span {
  font-size: 20px;
  color: red;
  font-weight: 900;
  padding-bottom: 10px;
}
button {
  border: 1px solid gray;
  padding: 15px 35px;
  background: orangered;
  color: aliceblue;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (max-width: 920px) {
  .food-img {
    padding-top: 5px;
    width: 200px;
    height: 200px;
  }
  .food-img img {
    width: 200px;
    border-radius: 10px;
    height: 200px;
    padding-top: 10px;
  }
  .menu-1 {
    width: 250px;
  }
}

@media (max-width: 540px) {
  h1 {
    text-align: center;
    background-color: orange;
    padding: 5px;
    font-size: 25px;
    color: white;
  }
  button {
    padding: 15px 25px;
  }
}
